[user]
  name = Bastian Ahrens
  email = bastianahrens92@gmail.com 
[core]
  editor = nvim

[init]
  defaultBranch = main

[push]
  default = current

[pull]
  ff = only

[commit]
  template = "~/.commit_template"
