.DS_Store
nvim/.config/nvim/plugin/packer_compiled.lua
karabiner/.config/karabiner/automatic_backups
fish/.config/fish/functions
fish/.config/fish/completions
fish/.config/fish/fish_variables
fish/.config/fish/conf.d
